/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
@media (min-width: 997px) {
  :root {
    --docusaurus-announcement-bar-height: auto !important;
  }
}

:root {
  --ifm-color-primary: #a10310;
  --ifm-color-primary-dark: #85030d;
  --ifm-color-primary-darker: #66030b;
  --ifm-color-primary-darkest: #71030d;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 90%;
  --ifm-code-font-color: #0d0d0e;
  --ifm-code-border-radius: 2px;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --docusaurus-announcement-bar-height: auto !important;
  --ifm-font-size-base: 17px;
  --ifm-line-height-base: 1.65;
  --ifm-font-family-base: "Optimistic Display",system-ui,-apple-system,sans-serif;
  --navbar-background-color: #1e1e1f;
  --navbar-font-color: #bcbfc9;
  --menu-link: #1b1b1d;
  --menu-link-hover: #070707;
}



/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #f5e6e7;
  --ifm-color-primary-dark: #21af90;
  --ifm-code-font-color: #f5e6e7;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
  --menu-link: #c7c7d1;
  --menu-link-hover: #ffffff;
}

article{
  font-size: 17px;
  line-height: 1.7em;
  font-family: "__akkurat_bd6215","__akkurat_Fallback_bd6215","Helvetica Neue",Helvetica,sans-serif;
}


.theme-code-block{
  border: 1px solid #e3e3e3;
}

.infobox-title{
  font-weight:bold;
  font-size: 18px;
}

.infobox-title svg{
  width: 20px;
}

.infoBox {
  background-color: #ddf7ff;
  border-radius: 5px;
  color: #006a8a;
  margin-bottom: 1rem;
  padding: 0.75rem 1.25rem;
  position: relative;
}

p img{
  border: 1px solid #eae7e7;
  border-radius: 0px;
  margin: 15px 0;
}

nav{
  font-size: 16px;
}

code{
  border:0;
  padding: 6px;
}

.codeBlockContainer_node_modules-\@docusaurus-theme-classic-lib-theme-CodeBlock-Container-styles-module{
  box-shadow: 0 0 0 0 !important;
}


@media screen and (min-width: 0px) and (max-width: 1220px) {
  #black-friday-banner { display: none; }   /* hide it elsewhere */
  .navbar-sidebar__brand{
    background: var(--navbar-background-color);
    color: var( --navbar-font-color);
  }
}

#black-friday-banner{
  margin-top: -5px;
}

.main-wrapper {
  font-weight: 300;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

.navbar__inner{
  width: 100%;
  max-width: 1365px;
  margin: 0 auto;
  color: var( --navbar-font-color);
}

.navbar{
  background: var(--navbar-background-color);
}

.navbar--fixed-top{
  border-bottom: 1px solid #2e2e2e;
}

.navbar__brand, .navbar__link {
  color: var(--navbar-font-color);
}
.menu__link{
  font-size: 16px;
  color: var(--menu-link);
}

.menu__link:hover{
  color:  var(--menu-link-hover);
}
.navbar__items--right a:hover{
  color: #e0dede;
}
html, article{
  font: var(--ifm-font-size-base)/var(--ifm-line-height-base) var(--ifm-font-family-base);
  text-rendering: optimizelegibility;
  color: var(--ifm-code-font-color);
  color-scheme: light;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

.theme-doc-sidebar-item-link-level-1 a{
  font-size: 17px;
}
.theme-doc-sidebar-item-link-level-2 div a{
  font-size: 14px;
}
.theme-doc-sidebar-item-link-level-3 div a{
  font-size: 12px;
}
.theme-doc-sidebar-item-link-level-4 div a{
  font-size: 10px;
}

.navbar__toggle{
  color: white;
}

