/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
@media (min-width: 997px) {
  :root {
    --docusaurus-announcement-bar-height: auto !important;
    --doc-sidebar-width: 310px !important;
  }
}

:root {
  --ifm-color-primary: #a10310;
  --ifm-color-primary-dark: #85030d;
  --ifm-color-primary-darker: #66030b;
  --ifm-color-primary-darkest: #71030d;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 90%;
  --ifm-code-font-color: #0d0d0e;
  --ifm-code-border-radius: 2px;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --docusaurus-announcement-bar-height: auto !important;
  --ifm-font-size-base: 17px;
  --ifm-line-height-base: 1.65;
  --ifm-font-family-base: "Optimistic Display",system-ui,-apple-system,sans-serif;
  --navbar-background-color: #1e1e1f;
  --navbar-font-color: #bcbfc9;
  --menu-link: #1b1b1d;
  --menu-link-hover: #070707;
  --doc-sidebar-width: 330px;
}



/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #f5e6e7;
  --ifm-color-primary-dark: #21af90;
  --ifm-code-font-color: #f5e6e7;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
  --menu-link: #c7c7d1;
  --menu-link-hover: #ffffff;
}

article{
  font-size: 17px;
  line-height: 1.7em;
  font-family: "__akkurat_bd6215","__akkurat_Fallback_bd6215","Helvetica Neue",Helvetica,sans-serif;
}


.theme-code-block{
  border: 1px solid #e3e3e3;
}

.infobox-title{
  font-weight:bold;
  font-size: 18px;
}

.infobox-title svg{
  width: 20px;
}

.infoBox {
  background-color: #ddf7ff;
  border-radius: 5px;
  color: #006a8a;
  margin-bottom: 1rem;
  padding: 0.75rem 1.25rem;
  position: relative;
}

p img{
  border: 1px solid #eae7e7;
  border-radius: 0px;
  margin: 15px 0;
}

nav{
  font-size: 16px;
}

code{
  border:0;
  padding: 6px;
}

.codeBlockContainer_node_modules-\@docusaurus-theme-classic-lib-theme-CodeBlock-Container-styles-module{
  box-shadow: 0 0 0 0 !important;
}

@media screen and (min-width: 0px) and (max-width: 1220px) {
  #hackathon-banner { display: none; }   /* hide it elsewhere */
  .navbar-sidebar__brand{
    background: var(--navbar-background-color);
    color: var( --navbar-font-color);
  }
}

#hackathon-banner{
  margin-top: -5px;
}

.main-wrapper {
  font-weight: 300;
  margin: 0 auto;
  max-width: 100%px;
  width:100%;
}

.navbar__inner{
  color: var( --navbar-font-color);
  max-width: 1610px;
  width:100%;
  margin: 0 auto;
}

.navbar{
  background: var(--navbar-background-color);
}

.navbar--fixed-top{
  border-bottom: 1px solid #2e2e2e;
}

.navbar__brand, .navbar__link {
  color: var(--navbar-font-color);
}
.menu__link{
  font-size: 16px;
  color: var(--menu-link);
}

.menu__link:hover{
  color:  var(--menu-link-hover);
}
.navbar__items--right a:hover{
  color: #e0dede;
}
html, article{
  font: var(--ifm-font-size-base)/var(--ifm-line-height-base) var(--ifm-font-family-base);
  text-rendering: optimizelegibility;
  color: var(--ifm-code-font-color);
  color-scheme: light;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

.theme-doc-sidebar-item-link-level-1 a{
  font-size: 14px;
}
.theme-doc-sidebar-item-link-level-2 div a{
  font-size: 14px;
}
.theme-doc-sidebar-item-link-level-3 div a{
  font-size: 12px;
}
.theme-doc-sidebar-item-link-level-4 div a{
  font-size: 10px;
}

.navbar__toggle{
  color: white;
}

.docSidebarContainer_node_modules-\@docusaurus-theme-classic-lib-theme-DocRoot-Layout-Sidebar-styles-module {
  border: 0px !important;
}

.table-of-contents__left-border{
  border-left: 0px solid #e3e3e3;
}


main[class^="docMainContainer"] > .container {
  padding-top: 2rem !important;
}

.table-of-contents {
  li {
    margin: 7px var(--ifm-toc-padding-vertical);
  }

  ul {
    padding-left: 0.35rem;

    li {
      margin: 4px var(--ifm-toc-padding-vertical);
    }
  }

  .table-of-contents__link {
    font-size: 12px;
    display: block;

    code {
      background: none;
      padding: 0;
      border: 0;
    }

    &:hover {
      color: var(--ifm-link-color);

      code {
        color: var(--ifm-link-color);
      }
    }
  }

  .table-of-contents__link--active {
    font-weight: 500;
    margin-left: -16px;
    padding-left: 12px;
    color: var(--ifm-font-color-base);
    border-left: 4px solid var(--brand);

    code {
      font-weight: 600;
      color: var(--ifm-font-color-base);
      white-space: nowrap;
    }

    &:hover {
      color: var(--ifm-font-color-base);

      code {
        color: var(--ifm-font-color-base);
      }
    }
  }
}

h1, article h1, article header h1 {
  font-size: 2.5rem !important;
  line-height: 3rem;
}

.navbar__item, .menu__link {
  font-size: 14px;
}


